<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>css</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="box-1">
        <h1>ABC Management System</h1>
        <h4>We create Future</h4>
        <div class="head">
            <span>Home</span>
            <span>About Us</span>
            <span>Shop</span>
        </div>
    </div>
    <div class="box-2">
        <h2 class="reg">Registration form</h2>
        <form action="" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>First name</td>
                    <td><input type="text" name="fname" id=""></td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td><input type="text" name="lname" id="">
                    <td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type="number" name="age" id=""></td>
                </tr>
                <tr>
                    <td>Designation:</td>
                    <td><input type="radio" name="des" value="Junior Programmer">Junior Programmer
                        <input type="radio" name="des" value="Senior Programmer">Senior Programmer
                        <input type="radio" name="des" value="Project Lead">Project Lead
                    </td>
                </tr>
                <tr>
                    <td>Preferred language</td>
                    <td><input type="checkbox" name="pref1" value="Java">JAVA
                        <input type="checkbox" name="pref2" value="PHP">PHP
                        <input type="checkbox" name="pref3" value="C++">C++
                    </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="email" name="email" id=""></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" id=""></td>
                </tr>
                <tr>
                    <td>Please choose a file:</td>
                    <td><input type="file" name="file" id=""></td>
                </tr>
                <tr>
                    <td><button type="submit" class="button">Submit</button>
                        <button type="reset" class="button">Reset</button>
                    </td>
                </tr>

            </table>
        </form>
    </div>
</body>

</html>